* {
    
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(155, 142, 142);
  }
  
  .App {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    width: 800px;
    height: 340px;
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    border: 5px solid black;
    padding: 20px;
    border-radius: 20px;
  }
  
  .label1,
  .label2 {
    margin: 20px;

  }
  
  #username,
  #age,
  #college {
    margin-top: 20px;
    color: blue;
    border-radius: 10px;
    font-size: 40px;
    
  }
  
  .button {
    font-size: larger;
    margin-top: 20px;
    border-radius: 10px;
    color: brown;
  }
  
  .user{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    width: 800px;
    height: auto;
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    border: 5px solid black;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  
  